test-results/
tmp/
routes/
### https://raw.github.com/github/gitignore/26a147d00d26a47389bc28408afe1ee62bd78387/Go.gitignore

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/


